* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  .content{
    display: flex;
    
    width: 100%;
    height: 90vh;
 }
  #left{
               
    width: 30%;
    height: 20vh;
    position: absolute;
    background-color: gray;
    left:0;
    display: none;
   
}
#central{
    width: 100%;
    display: block;
    align-content: center;
    height: 80vh;
    position: relative;
    background-color: red;
}
#rigth{
    width: 30%;
    height: 20vh;
    position: absolute;
    right: 0;
    display: none;
}
